body {
    background-color: rgb(125, 205, 231);
  }
  
  h1 {
    color: white;
  }
  
  .center{
    text-align: center;
  }

  #para {
    color: rgb(27, 214, 21);
    font-family: arial;
    font-size: 20px;
  }

  .cor {
    color: rgb(27, 214, 21);
  }