body {
    background-color: rgb(202, 204, 255);
    /*background-image: url("img/jeep.gif");*/
    /*font-family: 'Noto Sans TC', sans-serif;*/
  }
  
  h1 {
    font-family: cursive;
    color: white;
    background-color: rgb(62, 114, 165);
    /*background-image: url("img/jeep.gif");*/
    border: 3px solid rgb(87, 94, 105);
    border-radius: 10px;
  }
  /*id top*/
  .center{
    text-align: center;
  }

  #para {
    font-family: monospace;
    font-size: 20px;
    text-indent: 50px;
    text-decoration-line: underline;
  }

  .cor {
    color: rgb(255, 255, 255);
  }

  .sans {
    color: rgb(62, 207, 255);
  }

  .sombra{
    text-shadow: 2px 2px 5px #000000;
  }

  div {
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {left:600px;}
    25%  {left:-600px;}
    50%  {left:600px;}
    75%  {left:-600px;}
    100% {left:600px;}
  }

  .margem {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .preenchimento {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  a:link, a:visited {
    background-color: rgb(62, 114, 165);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(87, 94, 105);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(39, 147, 255);
    color: rgb(255, 255, 255);
  }

  
  